

{% extends "prelogin-layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block content %}
    <div>
        <p id = "image">Hover over an image below to display here.<p>
      <div id="buttons">
        <button onclick = "openFunction()">Show description</button>
        <button onclick = "closeFunction()">Hide description</button>
        <p id="content" style="background-color: #7fa3db; color:#FFFF;">
        Click in the picture you wish to see large and see the description </br>
        of each picture in the painel above</p>
      </div>
    </div>
    <p id="header">DataFlair's Photo Gallery</p>
    <img class = "preview" alt = "This is 'Ria de Aveiro'" 
        src = "static/lar.jpg" onmouseover = "upDate(this)" onmouseout = "unDo()" 
        onclick="myFunction(this)">
    <img class = "preview" src = "static/saso.jpg" alt = "Dream place" onmouseover = "upDate(this)" 
        onmouseout = "unDo()" onclick="myFunction(this)"> 
    <img class = "preview" src = "static/ria.jpg" alt = "The peace in the water" 
        onmouseover = "upDate(this)" onmouseout = "unDo()" onclick="myFunction(this)">
    <img class = "preview" alt = "Nature at the best" src = "static/animal.jpg" onmouseover = "upDate(this)" 
        onmouseout = "unDo()" onclick="myFunction(this)">
    <img class = "preview" alt = "Relax in here" src = "static/beach.jpg" onmouseover = "upDate(this)" 
        onmouseout = "unDo()" onclick="myFunction(this)">
        
      <div class="container">
      <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

      <img id="imgExp" style="width:100%">

      <div id="imgT"></div>
      </div> 
      
<script>
    function upDate(element){
      document.getElementById('image').innerHTML = element.alt;
    }
    function unDo(){
      document.getElementById('image').innerHTML = "Hover over an image below to display here.";
    }
    function openFunction(){
      el = document.getElementById("content");
      el.style.display = "block";
    }
    function closeFunction(){
      el = document.getElementById("content");
      el.style.display = "none";
    }
    function myFunction(imgs) {
        var expandImg = document.getElementById("imgExp");
        var imgT = document.getElementById("imgT");
        expandImg.src = imgs.src;
        imgT.innerHTML = imgs.alt;
        expandImg.parentElement.style.display = "block";
    }
    </script>
{% endblock %}