{% extends "prelogin-layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}      
            </br>
            <h3 id="sec1"> My favorite Travels</h3>
            <p>In this website I present some of the special places I visited and why I consider this places to be <br/>
            some of the best places I visited until now, also some smooth music made by me.    
            </p>
            <img src ="static/lar.jpg" width = "60%" padding-bottom: 30px;>
            <ol>
                    <li> <a href="#sec1"> I Go to </a> My favorite Travels </li>
                    <li> <a href="#sec2"> II Go to </a> Give you contribute to this website </li>
                    <li> <a href="#sec3"> III Go to </a> The end </li>
                
            </ol> 
            <h6> Let us know your favourite vactions locations and how many days you stayed</h6>

            <form method="POST" class="form-border" style="padding:2px; border-style: inset ; border-color:blue">
              <div class="form-row">
                <div class="form-group col-sm-6" style="margin-top:5px;">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Location</span>
                      </div>
                      <textarea name="location" id="location" class="form-control" rows="1" required></textarea>
                  </div>
                </div>            
                  <div class="form-group col-sm-6" style="margin-top:5px;">
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text">Days you stayed</span>
                          </div>
                          <textarea name="days" id="days" class="form-control" rows="1" required></textarea>
                      </div>
                  </div>
                  <div class="form-group col-sm" style="margin-top:5px;">
                      <button class="btn btn-success" type="submit">Submit</button>
                  </div>
                 
              </div>
          </form>
        <div class="results-container" style="margin:1px;float:left; border-style: inset; 
          border-color:blue;">
          
          <div class="card2">
            <div class="card-body2">
              <h5>Location</h5>
              {% for dest in destinations %}
                <h6>{{dest['location']}}<h6 class="ee">
              {% endfor %}    
            </div>
          </div>  
          <div class="card2">
              <div class="card-body2">
                <h5>Number of days</h5>
                {% for dest in destinations %}
                  <h6>{{dest['days']}}<h6 class="ee"> 
                {% endfor %} 
              </div>
          </div>   
        <div class="card2">
          <div class="card-body2">
              <h6><h6 class="ee">
          </div>
        </div>    
        <div class="card2">
            <div class="card-body2">
                <h6><h6 class="ee"> 
            </div>
        </div>   
      </div>
  
                <h1 style=color:purple;text-align:center-left;> Before you travel</h1>
            
                <div class="fe"> <p> Travels can be the most wonderful thing in the world,
                but as everything uncertain involves some stress, to deal with this information is key. 
                With so many websites and feedback from other travelers, there is some tools to get 
                 information before the travel to make is a decision about the destination 
                and above all some of the things he may find when traveling to the chosen destination.</br> 
                Bellow, there is some useful popular websites:
                </p>
                <ul>
                    <li> <a href ="https://www.tripadvisor.com"> https://www.tripadvisor.com</a> </li>
                    <li> <a href ="https://www.booking.com"> https://www.booking.com</a> </li>
                    <li> <a href ="https://www.trivago.com"> https://www.trivago.com</a> </li>
                </ul>
                
                
                
                Some important contacts for EU citizens when traveling
                <ol>
                    
                    <li> EU website with information about traveling-
                    <a href ="https://europa.eu/european-union/life/travel-tourism_en">https://europa.eu/european-union/life/travel-tourism_en</a> </li>
                    
                    <li> EU website with information about countries in EU-
                    <a href ="https://europa.eu/european-union/about-eu/countries_en">https://europa.eu/european-union/about-eu/countries_en</a> </li>
                    
                        <ul> 
                            <li> Freephone - 00 800 6 7 8 9 10 11</li>
                        </ul>
                        
                    <li> EU website with information about contact points in each country-
                    <a href ="https://europa.eu/european-union/contact/meet-us_en">
                    https://europa.eu/european-union/contact/meet-us_en</a> </li>
                
                </ol>
                
                </div>
                <span></span>
                
                <img src ="static/saso.jpg" width = "60%" padding-bottom: 30px;>
                </br>
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      The travel
                    </div>
                    <div class="col-sm">
                      is as part of you
                    </div>
                    <div class="col-sm">
                      as the need to see.
                    </div>
                  </div>
                </div>
                <div class="glyphicon glyphicon-euro"> .......................................</i>
                <div class="rer">Just the</div>
                <div class="ter">Journey </div>
                <div class="der">Begining</div>
                </br>
        <h3 id="sec3"> Thank you for visiting this website, hope you enjoyed!!!</h3>
{% endblock %}
