{% from 'formHelper.html' import displayField %}

{% extends 'prelogin-layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <p>If you still don't have a username please <a href ="/register">register</a>, is a quick process</p>
    </br>
    <p>Enter your username/password to start the App</p>
    
    <form action="{{url_for('login')}}" method="POST">
    
        {{displayField(form.username, 'Username', autocomplete="off", autofocus=true)}}
        
        {{displayField(form.password, 'Password')}}
        
        <div>
            {{ form.submit_button }}
        </div>
        
        {{ form.csrf_token}}
    
    </form>
    
    
{% endblock %}